{% extends '::base.html.twig' %}
{% block title %}Products{% endblock %}
{% block body %}
<div class="container-fluid" >
<nav class="navbar">
    <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Save and Socialize</a>

        <div class="nav-collapse">
            <ul class="nav" style="font-weight:normal">
                <li><a href="#">Reports</a></li>
                <li class="active"><a href="#">New Product Approval</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>

    <div class="row-fluid content"> 
        <div class="span3">
            <h4> Your Products </h4>
    <ul class="list-style">
        {% for brands,products in products %}
        <li><b>{{ brands }}</b></br></li>
              {% for product in products %}
                {{ product }} &nbsp
              {% endfor %}
        {% endfor %}
    </ul>
        </div>
    </div>
        </div>
{% endblock %}